# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs temporários
*.log

# Dependências (caso no futuro use Node/Python)
node_modules/
venv/

# Build temporário (se usar geradores depois)
dist/
